#about {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px 0px;
}

#about div {
  background-color: white;
  text-align: center;
  padding: 20px 40px;
}

#about div p {
  background-color: white;
  padding-bottom: 20px;
  font-size: 16px;
  letter-spacing: 6px;
}

#about button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  position: relative;
  bottom: 0px;
  border: 1px solid black;
}

#about button:hover {
  background-color: rgb(254, 172, 90);
  border: 1px solid rgb(254, 172, 90);
  color: white;
}

#inBetweenUpsideDown {
  background: url("InBetweenUpsideDown.png");
  background-repeat: repeat;
  height: 149px;
}

/* Small Screen -------------------------------------------------------------------------------*/
@media all and (max-width: 767px) {
  #about div p {
    font-size: 12px;
    letter-spacing: 6px;
  }
}
