.redText {
  color: rgb(255, 85, 85);
}

.greenText {
  color: rgb(77, 198, 189);
}

.blueText {
  color: rgb(0, 170, 212);
}

.yellowText {
  color: rgb(254, 172, 90);
}

.comingSoonPage {
  height: 110vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.comingSoonPage div {
  width: 100%;
  margin-top: 30vh;
}
.comingSoonPage div h1 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(254, 172, 90);
  -webkit-text-stroke: 0.5px rgb(254, 172, 90);
  font-size: 4vw;
  letter-spacing: 1.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 2;
}

.comingSoonPage div h2 {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.8vw;
  letter-spacing: 1vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 2;
}
.comingSoonPage div img {
  width: 14%;
  position: absolute;
  bottom: 40%;
  right: 43%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}
.comingSoonPage div button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  position: relative;
  top: 30px;
  border: 1px solid black;
  font-size: 8px;
}

#pickDesign {
  background-color: rgb(252, 233, 207);
  color: black;
}

.comingSoonPage div button:hover,
#pickDesign:hover {
  background-color: rgb(254, 172, 90);
  border: 1px solid rgb(254, 172, 90);
  color: white;
}

#inBetween {
  background: url("InBetween.png");
  background-repeat: repeat;
  height: 149px;
}

/* Small Screen -------------------------------------------------------------------------------*/
@media all and (max-width: 767px) {
  .comingSoonPage div img {
    width: 50%;
    left: 25%;
  }

  .comingSoonPage div h1 {
    font-size: 24px;
  }
  .comingSoonPage div h2 {
    font-size: 8px;
  }

  .comingSoonPage div button {
    display: block;
    margin-bottom: 10px;
    left: 20%;
    width: 60%;
  }

  #shareButtonMobile button {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 20px;
  }
}
